.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  border-left: 1px solid #BFBFBF;
  border-right: 1px solid #BFBFBF;
  box-sizing: border-box;
}

/* header */

.header {
  padding: 0;
  margin: 0;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  border-bottom: 1px solid #bfbfbf;
}

.logo {
  height: 32px;
  width: 228px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  width: 730px;
  line-height: 96px;
  margin-left: 64px;
  z-index: 2;
  font-size: 102px;
  font-weight: 700;
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  line-height: 25px;
  z-index: 2;
  font-size: 18px;
}

.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  bottom: 0;
  right: 0;
  z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  bottom: 124px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.content {
  margin: 0 auto;
}

.content-container {
  border-top: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Секция description */

.description {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.description__content-container {
  margin-top: 100px;
}

.two-columns {
  width: 80%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  min-height: 300px;
}

.two-columns__brief {
  width: 175px;
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  margin: 0;
}

.two-columns__span-accent {
  font-weight: bold;
}

/* секция digits */

.digits {
  padding: 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

.digits__content-container {
  margin: 100px 0;
}

.section-title {
  width: 60%;
  text-align: center;
  margin: 0 auto;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;

}

.section-subtitle {
  width: 60%;
  text-align: center;
  margin: 20px 0 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;

}

.table {
  padding: 0;
  margin: 0 auto;
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-decoration: none;
}

.table__cell {
  margin: 60px 0 0;
  padding: 0;
  width: 250px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;

}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

/* Секция feynman */

.feynman {
  margin: 0;
  padding: 100px 0 0;
  width: 100%;
  background-color: #f2f2f2;
  border-top: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
  position: relative;
  min-height: 500px;
  box-sizing: border-box;
}

.feynman__content-container {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 790px;

  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 867px 637px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 70px;

  border: none;
}

.faynman__title {
  margin: 0;
  padding: 0;
  width: 648px;
  text-align: center;

  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;
}

.faynman__subtitle {
  margin: 0;
  padding: 0;
  text-align: center;

  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
}

.faynman__link {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  right: 46px;
  color: #2f80ed;
  text-decoration: none;

  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
}

/* Секция kufman */

.kaufman {
  border-top: 1px solid #BFBFBF;
  border-bottom: 1px solid #BFBFBF;
  position: relative;
  background-color: #1f1f1f;
  overflow: hidden;
  z-index: 0;
}

.kaufman__content-container {
  position: relative;
  margin: 90px 0;
  z-index: 2;
}

.section-title_theme_dark {
  color: white;
}

.section-subtitle_theme_dark {
  color: white;
}

.kaufman__triangle {
  position: absolute;
  width: 877px;
  height: 877px;
  top: -2px;
  right: -214px;
  z-index: 1;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

/* Блок footer */

.footer {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  background-color: #1f1f1f;
  min-height: 500px;
  border: 1px solid red;
  min-height: 350px;

  display: flex;
  justify-content: center;
}

.footer__columns {
  padding: 0;
  margin: 0;
  width: 90%;
  border: 1px solid red;
  margin-top: 60px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.footer__column {
  border: 1px solid red;

}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  border: 1px solid red;
  width: 228px;
  height: 32px;
}

.footer__author-container {
  padding: 18px 0;
  margin: 0;
  border: 1px solid red;
  color: white;
}

.footer__author {
  margin: 0;
  width: auto;
  height: auto;
  border: 1px solid red;
}


