:link:hover {
  text-decoration: underline;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* блок header */

.header {
  padding: 0;
  margin: 0;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.logo {
  height: 32px;
  width: 228px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  margin: 0;
  max-width: 730px;
  line-height: 96px;
  margin-left: 64px;
  z-index: 2;
  font-size: 102px;
  font-weight: 700;
}

.header__subtitle {
  margin: 0;
  position: absolute;
  bottom: 30px;
  left: 64px;
  width:100%;
  max-width: 388px;
  line-height: 25px;
  z-index: 2;
  font-size: 18px;
}

.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  bottom: 0;
  right: 0;
  z-index: 1;
  object-fit: cover;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.content {
  margin: 0 auto;
}

/* Секция description */

.description {
  margin: 0;
  padding: 0;
}

.two-columns {
  width: 80%;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  margin: 0;
}

.two-columns__span-accent {
  font-weight: bold;
}

/* секция digits */

.digits {
  padding: 100px 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  width: 60%;
  text-align: center;
  margin: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
}

.section-subtitle {
  width: 60%;
  text-align: center;
  margin: 20px 0 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
}

.table {
  padding: 0;
  margin: 0 auto;
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-decoration: none;
}

.table__cell {
  margin: 60px 0 0;
  padding: 0;
  width: 250px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

/* Секция feynman */

.feynman {
  margin: 0;
  padding: 100px 0 0;
  width: 100%;
  background-color: #f2f2f2;
  position: relative;
  min-height: 500px;
  min-height: 890px;
  box-sizing: border-box;

  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 867px 637px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 70px;
}

.feynman__title {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 648px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;
}

.feynman__subtitle {
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
}

.feynman__link {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  right: 48px;
  color: #2f80ed;
  text-decoration: none;

  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
}

/* Секция kufman */

.kaufman {
  padding: 90px 0;
  position: relative;
  background-color: #1f1f1f;
  overflow: hidden;
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title_theme_dark {
  position: relative;

  color: white;
}

.section-subtitle_theme_dark {
  position: relative;

  color: white;
}

.kaufman__triangle {
  margin: 0;
  padding: 0;
  width: 877px;
  height: 877px;

  background-image: url(../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  background-size: cover;

  position: absolute;
  top: 0;
  right: -210px;
  z-index: -1;
}

.table_theme_dark {
  position: relative;
}

.table__cell_theme_dark {
  width: 200px;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading_theme_dark {
  color: white;
}

.table__text_theme_dark {
  color: white;
}

/* Блок footer */

.footer {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #1f1f1f;
  min-height: 350px;
  display: flex;
  justify-content: center;
}

.footer__columns {
  padding: 0;
  margin: 0;
  width: 90%;
  margin-top: 60px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
  align-items: flex-start;
}

.logo_place_footer {
  width: 228px;
  height: 32px;
}

.footer__author {
  padding: 0;
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  color: white;
}

.footer__column_content_info {
  color: white;
  gap: 20px;
}

.footer__column-heading {
  padding: 0;
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
}

.footer__column-links {
  padding: 0;
  margin: 0 0 16px;
  display: flex;
  flex-direction: column;
  line-height: 30px;
  font-size: 18px;
}

.footer__column-link {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}

.footer__column_content_social {
  color: white;
  gap: 20px;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

