.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  border: 1px solid maroon;
  position: relative;
}

.header {
  padding: 0;
  margin: 0;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  position: absolute;
  height: 32px;
  width: 228px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  width: 730px;
  line-height: 96px;
  margin-left: 64px;
  z-index: 2;
  font-size: 102px;
  font-weight: 700;
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  line-height: 25px;
  z-index: 2;
  font-size: 18px;
}

.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  bottom: 0;
  right: 0;
  z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  bottom: 124px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}

.content {
  margin: 0 auto;
}

.description {
  margin: 100px 0;
  border: 1px solid #f2f2f2;
}

.description_flex_row {
  display: flex;
  justify-content: center;
}

.two-columns {
  width: 80%;
}

.two-columns_flex_row {
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
}

.two-columns__brief__title {
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__main-text__paragraph {
  line-height: 34px;
  font-size: 24px;
  margin: 0;
}

.two-columns__main-text__paragraph__span-accent {
  font-weight: bold;
}

.two-columns__main-text__paragraph_margin_bottom {
  margin-bottom: 30px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

